@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HopeBookAppointment.Models.PatientModel;
<html>
<head>

</head>
<body>
    <form asp-action="UpdatePatient">
        <div class="row">
            <div class="col-md-4">
                First Name
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                Last Name
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
            <div class="col-md-4">
                Mobile
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="Mobile" />
                <span asp-validation-for="Mobile" class="text-danger"></span>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Gender
                <span class="text-danger">*</span>
                <select class="form-control" asp-for="Gender">
                    <option selected="selected" value="1">Male</option>
                    <option value="0">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>

            </div>
            <div class="col-md-4">
                Email
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <div class="col-md-4">
                <input style="margin-top:35px" type="checkbox" asp-for="HasHealthInsurance" /> Has Health Insurance
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <input type="hidden" asp-for="PatientId" />
                <input type="submit" class="btn btn-primary" value="Update Patient" />
            </div>
        </div>
    </form>
</body>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
</html>